.container{
    display: grid;
    grid-template-columns: 100px 500px auto 200px;/*c/u hace referencia a una columna*/
    grid-template-rows: 200px 100px;/*c/u hace referencia a una fila*/
    gap: 10px;
}
/*Grid area: myarea;*/

.item{
    background-color: aqua;
padding: 10px;
}