<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody *ngFor="let data of data2; index as i; first as isFirst">
        <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{data.name}} </td>
            <td>{{data.status}} </td>
            <td>{{data.image}} </td>
        </tr>
    </tbody>
</table>