
<aside class="bg-dark mt-5" id="aside">
    <br><br>
    <div class="list-group bg-dark" id="list-tab" >
        <a class="list-group-item list-group-item-action a bg-dark text-secondary" id="list-profile-list"
            data-toggle="list" href="#list-profile" role="tab"
            aria-controls="profile" routerLink="/main">Proyecto N°-2 Main</a>
        <a class="list-group-item list-group-item-action a bg-dark text-secondary"
            id="list-settings-list" data-toggle="list" routerLink="/form"
            role="tab" aria-controls="settings">Proyecto N°-4 Form</a>
            <a class="list-group-item list-group-item-action a bg-dark text-secondary"
            id="list-settings-list" data-toggle="list" routerLink="/list"
            role="tab" aria-controls="settings">Proyecto N°-4 List</a>
    </div>

</aside>