<h1>Productos</h1>


<div class="card">
    <p-table [value]="productos" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>producto</th>
                <th>Categoria</th>
                <th>Qantidad</th>
                <th>Editar/eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <button>Editar</button><button>Eliminar</button>
            </tr>
        </ng-template>
    </p-table>
</div>