<p>agregar-tareas works!</p>
<div class="container">
    <button routerLink="/"
  class="buttonAdd btn btn-primary buttonAgregar">Volver</button>
    <form #myForm="ngForm" (ngSubmit)="enviar(myForm)">
        <div class="row">
            <div class="col-12">
                <div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Nombre</label>
                        <div class="col-8">
                            <input type="text"
                                class="form-control"
                                name="nombre"
                                placeholder="Nombre"
                                [(ngModel)]="nombre">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Descripcion</label>
                        <div class="col-8">
                            <input type="text"
                                class="form-control custom-select"
                                name="descripcion"
                                placeholder="Descripcion"
                                [(ngModel)]="descripcion">

                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Estado</label>
                            <div class="col-md-8">
                                <input type="text"
                                    class="form-control"
                                    name="estado"
                                    placeholder="Estado"
                                    [(ngModel)]="estado">

                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">&nbsp;</label>
                        <div class="input-group col-md-8">
                            <button type="submit"
                                class="btn btn-outline-primary mr-2">
                                Enviar
                            </button>
                            <button type="button"
                                class="btn btn-outline-danger"
                                (click)="limpiar()">
                                Limpiar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
</div>